.card {
  /* background: pink; */
  /* border: 1px dashed black; */
  border-radius: 0.5rem;
  min-height: 100px;
  flex-grow: 1;
  flex-basis: 25rem;
  margin: 1rem;
  text-align: center;
  padding: 2rem 0rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.17);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card h2 {
  margin-bottom: 1rem;
}

.card img {
  width: 100%;
}

.card p {
  margin: 1rem;
}

.buttons {
  /* background: lightcoral; */
  display: flex;
  justify-content: space-evenly;
}
