.my-work {
  /* background: palegreen; */
  min-height: calc(100vh - 100px);
}

#my-work-title {
  display: block;
  font-size: 2.5rem;
  width: 100%;
  padding: 2rem 3rem 1rem 3rem;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.card {
  /* background: pink; */
  border: 1px dashed black;
  border-radius: 0.5rem;
  min-height: 100px;
  flex-grow: 1;
  flex-basis: 25rem;
  margin: 1rem;
  text-align: center;
}

.card img {
  width: 100%;
}
