* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* section {
  background: lightgoldenrodyellow;
  height: calc(100vh - 50px);

} */

button {
  cursor: pointer;
  color: white;
  padding: 0.7rem;
  font-size: 1rem;
  border: 2px outset #301227;
  border-radius: 0.5rem;
  background-color: #541f46;
}

button:hover {
  background-color: #301227;
  border: 2px inset #301227;
  /* font-size: 1.1rem; */
}
