.about-me {
  /* background: lightgoldenrodyellow; */
  min-height: calc(100vh - 80px);
  display: flex;
  flex-wrap: wrap;
}

.box {
  /* border: 2px dashed black; */
  flex-basis: 33rem;
  flex-grow: 1;
}

.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.hello {
  font-size: 3rem;
  width: 100%;
  /* margin: 1rem 0rem; */
  color: #301227;
  font-family: 'Parisienne', cursive;
}

.line {
  height: 3px;
  width: 100%;
  background-color: #301227;
}

.bio p {
  margin: 1rem 0rem;
}

.portrait {
  display: grid;
  place-items: center;
  padding: 5rem;
}
.portrait img {
  border-radius: 1rem;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}
